
@font-face {
    font-family: "primaryfont";
    src: url("../webfonts/IRANSansWeb_Bold.ttf")
}
/* template css */
:root{
    --primary: #2196F3;
    --secondary: #FF5722;
    --primarytext: #212121;
    --light:#BBDEFB;
    --bs-gray: #efefef;
}

.text-primary{
    color: var(--primary) !important;
}

.text-secondary{
    color: var(--secondary) !important;
}

btn-outline-primary{
    color: var(--primary) !important;
}

btn-outline-secondary{
    color: var(--secondary) !important;
}
/* Typography */
body, ul, li, p, a, label, input, div {
  font-family: "primaryfont";

}
.h1 {
  font-family: "primaryfont";

}
.h2 {
  font-family: "primaryfont";

}
.h3 {
  font-family: "primaryfont";
}
/* General */
.logo { font-weight: 500 !important;font-size: 2rem}

/* Nav */
#sabioweb_nav_top { min-height: 40px;}
#sabioweb_nav_top * { font-size: .8rem !important;}
#sabioweb_main_nav a { color: var(--secondary); font-size:1.1rem }
#sabioweb_main_nav a:hover { color: var(--primary); font-weight: 500 !important}
#sabioweb_main_nav .navbar .nav-icon { margin-right: 2px;}

/* Hero Carousel */
#sabiowebherocarousel {

}
/* Shop */
.shop-top-menu a:hover { color:  var(--primary) !important;}
/* Carousel Hero */
#sabioweb-hero-carousel .carousel-indicators li {
  margin-top: -50px;
  background-color: var(--secondary);
}


/* section 2 */
#cp .card{
    background-color: white;
    transition: 0.5s;
}
#cp .card:hover{
    background-color: var(--secondary);
}
.paint-text{
    transition: 0.3s;
}
.paint-text:hover{
   color: white;
}
#contactsm {
}


/* Footer */
#sabioweb_footer a { color: #dcdde1;}
#sabioweb_footer a:hover { color: var(--secondary);}
#sabioweb_footer ul.footer-link-list li { padding-top: 10px;}
#sabioweb_footer ul.footer-icons li {
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;
}
#sabioweb_footer ul.footer-icons li:hover {
    background-color: #cfd6e1;
    transition: .5s;
}
#sabioweb_footer ul.footer-icons li:hover i {
    color: #212934;
    transition: .5s;
}
#sabioweb_footer .border-light { border-color: var(--primary) !important;}

.service-paint > a{
    text-align: -webkit-center !important;
}

/* contact us*/
.contact-area{
    background-image: url('../img/contact2.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
}
.contact-info {
    padding-right: 25px
}
.contact-info ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none
}
.contact-info ul li {
    position: relative;
    padding-left: 95px;
    color: var(--secondary);
    margin-bottom: 35px;
    font-weight: 300;
    line-height: 1.7
}
.contact-info ul li .icon {
    border: 1px dashed var(--primary);
    width: 75px;
    height: 75px;
    line-height: 75px;
    color: #fff;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    -webkit-transition: .5s;
    transition: .5s
}
.contact-info ul li .icon::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, right top, from(var(--primary)), to(var(--light)));
    background: linear-gradient(90deg, var(--primary) 0%, var(--light) 100%);
    border-radius: 50%;
    margin: 5px;
    z-index: -1;
    -webkit-transition: .5s;
    transition: .5s
}
.contact-info ul li .icon::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(135deg, var(--light) 0%, var(--secondary) 100%);
    border-radius: 50%;
    margin: 5px;
    z-index: -1;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    visibility: hidden
}
.contact-info ul li span {
    display: block;
    margin-bottom: 3px;
    color: #0e314c;
    font-size: 22px;
    font-weight: 600;
}
.contact-info ul li a {
    display: block;
    color: var(--secondary)
}
.contact-info ul li a:hover {
    color: var(--primary)
}
.contact-info ul li:hover .icon {
    border-color: var(--secondary)
}
.contact-info ul li:hover .icon::before {
    opacity: 0;
    visibility: hidden
}
.contact-info ul li:hover .icon::after {
    opacity: 1;
    visibility: visible
}
.contact-info ul li:last-child {
    margin-bottom: 0
}
#primarymenu{
    position:absolute;
    top:0;
    margin:auto;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;

}
#primarymenu  li{
    margin:0 20px;
    position:relative;
}
#primarymenu  li a{
    text-decoration:none;
    display:block;
    padding:5px 0;
    font-family:'Open Sans';
    font-size:16px;
    line-height:1;
    font-weight:bold;
    position:relative;
    z-index:1;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
    to right,
    var(--primary),
    var(--primary) 50%,
    var(--secondary) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.3s ease-in-out;

}
#primarymenu  li a:before{
    display:block;
    content:'';
    width:0;
    height:3px;
    bottom:5px;
    left:0;
    bottom:-3px;
    z-index:0;
    position:absolute;
    background:var(--primary);
    transition: all 0.3s ease-in-out;

}

#primarymenu  li a:hover{
    background-position: 0%;
}
#primarymenu  li a:before{
    width:100%;
}


/* ts section */

#cotn .card-ts-1{
    background-color: white;
    opacity: .8;
    transition: 0.5s;
}
#cotn .card-ts-1:hover{
    transition: 1s;
    opacity: 1;
    color: white;
    background-image: url("../img/slider/slider1.5.jpg");
}
#cotn .card-ts-2{
    background-color: white;
    transition: 0.5s;
    opacity: 0.8;
}
#cotn .card-ts-2:hover{
    transition: 1s;
    opacity: 1;
    color: white;
    background-image: url("../img/slider/slider1.4.jpg");
}
#cotn .card-ts-3{
    background-color: white;
    transition: 0.5s;
    opacity: 0.8;
}
#cotn .card-ts-3:hover{
    transition: 1s;
    opacity: 1;
    color: white;
    background-image: url("../img/slider/slider1.5.jpg");}
#cotn .card-ts-4{
    background-color: white;
    transition: 0.5s;
    opacity: 0.8;
}
#cotn .card-ts-4:hover{
    transition: 1s;
    opacity: 1;
    color: white;
    background-image: url("../img/slider/slider1.4.jpg");}
