
/* slider-main------------------- */

.slider-main-container {
    width: 100%;
    height: auto;
    background: #fff;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ececec;
    cursor: pointer;
}

.slider-main-container .carousel-inner .carousel-item img {
    max-width: 100%;
}

.slider-main-container .carousel-inner .carousel-item img.h-four-img {
    max-width: 100%;
    height: 400px;
}

.slider-main-container .carousel-inner .carousel-item .carousel-caption {
    width: 100%;
    text-align: right;
    right: 5%;
}

.slider-main-container .carousel-inner .carousel-item .carousel-caption button.btn-buy {
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
}

.slider-main-container .carousel-inner .carousel-item-h4::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
}

.slider-main-container .carousel-indicators-ul {
    background: rgba(255, 255, 255, 0.7);
    height: auto;
    right: 10px;
    bottom: 10px;
    display: block;
    text-align: center;
    width: calc(100% - 20px);
    left: 10px;
    padding: 5px;
    border-radius: 20px;
    transition: all 400ms ease 3s;
    margin: 0;
    opacity: 0;
    visibility: hidden;
}

.slider-main-container:hover .carousel-indicators-ul {
    transition: 0.2s;
    visibility: visible;
    opacity: 1;
}

.slider-main-container .carousel-indicators-ul > li.carousel-indicators-item {
    height: auto;
    display: inline-block;
    padding: 0 5px;
    text-align: center;
    text-indent: 0;
    background: transparent;
    color: #666;
    font-size: 13px;
    position: relative;
    overflow: visible;
    white-space: nowrap;
    border-radius: 20px;
    opacity: 1;
    padding: 10px 0px;
    margin-right: 0;
    box-shadow: none;
    width: 32.9%;
    margin-left: 0;
}

/* slider-main------------------- */
